.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal pre {
    width: 130%;
    margin-inline-start: -15%;
    box-shadow : none;
}

.reveal pre code {
    font-size: 1em;
    line-height: 1.2;
    max-height: 400 !important;
    opacity: 1;
    border-radius: 10px;
}

.demo {
    color: darkorange;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-style: bold;
}

.comment{
    color: darkslategray;
    font-size: 1.5em;
    font-style: italic;
}