.reveal section img {
  border: 0;
  box-shadow: none;
}

.SQL-Trarget_and_Impact {
    border: 0;
    box-shadow: none;
    object-fit: contain;
}

.demo {
    color: gold;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 2px;
}