@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.test-font {
    font-family: 'Open Sans', sans-serif;
}

.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal pre {
    box-shadow : none;
}

.reveal pre code {
    font-size: 1em;
    line-height: 1.2;
    max-height: 600 !important;
    opacity: 1;
    border-radius: 10px;
    width: 100%;
    margin-inline-start: 0%;
}

.demo {
    color: darkorange;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-style: bold;
}

.slide-title {
    color: orangered;
    text-transform: uppercase;
    font-size: 0.5em;
}

.box-title {
    text-align: center;
    color: #282828;
    width: 33%;
    border-radius: 10px;
    padding: 5px 10px !important;
}

.box-title hr {
    border-top: 2px solid black#282828;
}

.box-content {
    background-color: darkorange;
}

.graph-trend {
    width: 80%;
    box-shadow : none;
}